In [1]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
#from catboost import CatBoostRegressor
#from xgboost import XGBRegressor
import warnings

In [2]:
import catboost

In [ ]:
data = pd.read_csv(r"C:\Users\farid\Downloads\stud.csv")

:

In [8]:
data.shape

(1000, 8)

In [9]:
data.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
data

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [12]:
y=data.math_score

In [18]:
data.test_preparation_course	.value_counts()

none         642
completed    358
Name: test_preparation_course, dtype: int64

In [16]:
data.parental_level_of_education.value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental_level_of_education, dtype: int64

In [19]:
data

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [29]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [22]:
data['gender'] = le.fit_transform(data['gender'])

In [31]:
data['parental_level_of_education'] = le.fit_transform(data['parental_level_of_education'])

In [33]:
data['lunch'] = le.fit_transform(data['lunch'])
data['test_preparation_course'] = le.fit_transform(data['test_preparation_course'])

In [35]:
data['race_ethnicity'] = le.fit_transform(data['race_ethnicity'])

In [36]:
data.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,0,1,1,1,1,72,72,74
1,0,2,4,1,0,69,90,88
2,0,1,3,1,1,90,95,93
3,1,0,0,0,1,47,57,44
4,1,2,4,1,1,76,78,75

In [37]:
x=data.drop(columns=["math_score"],axis=0)

In [39]:
x.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,0,1,1,1,1,72,74
1,0,2,4,1,0,90,88
2,0,1,3,1,1,95,93
3,1,0,0,0,1,57,44
4,1,2,4,1,1,78,75

In [40]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [41]:
sc=StandardScaler()

In [48]:
num_features = x.select_dtypes(exclude="object").columns

In [49]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    [
        
         ("StandardScaler", sc, num_features),        
    ]
)

In [54]:
scaler = StandardScaler()

In [56]:
x.reading_score

0      72
1      90
2      95
3      57
4      78
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading_score, Length: 1000, dtype: int64

In [59]:
x['reading_score'] = scaler.fit_transform(x['reading_score'].values.reshape(-1, 1))

In [62]:
x['writing_score'] = scaler.fit_transform(x['writing_score'].values.reshape(-1, 1))

In [65]:
x.shape

(1000, 7)

In [66]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((800, 7), (200, 7))

#Create an Evaluate Function to give all metrics after model Training#

In [67]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [70]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "AdaBoost Regressor": AdaBoostRegressor()
}
#from catboost import CatBoostRegressor
#from xgboost import XGBRegressor
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.5876
- Mean Absolute Error: 4.4947
- R2 Score: 0.8615
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.3175
- Mean Absolute Error: 4.1301
- R2 Score: 0.8838
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.5472
- Mean Absolute Error: 5.1733
- R2 Score: 0.8099
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.4453
- Mean Absolute Error: 5.0967
- R2 Score: 0.8293
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.5879
- Mean Absolute Error: 4.4937
- R2 Score: 0.8615
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.3190
- Mean Absolute Error: 4.1308
- R2 Score: 0.8837
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 5.6178
- Mean Absolute Error: 4.5053
- R2 Score: 0.8600
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.3109
- Mean Absolute Error: 5.6830
- R2 Score: 0.7804
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.2795
- Mean Absolute Error: 0.0187
- R2 Score: 0.9997
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 8.0072
- Mean Absolute Error: 6.1750
- R2 Score: 0.7365
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.2994
- Mean Absolute Error: 1.8404
- R2 Score: 0.9765
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.1199
- Mean Absolute Error: 4.7628
- R2 Score: 0.8461
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.8639
- Mean Absolute Error: 4.8103
- R2 Score: 0.8475
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.1116
- Mean Absolute Error: 4.7881
- R2 Score: 0.8465
===================================

In [71]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
0        Linear Regression  0.883803
2                    Ridge  0.883736
6       AdaBoost Regressor  0.846505
5  Random Forest Regressor  0.846087
1                    Lasso  0.829281
3    K-Neighbors Regressor  0.780351
4            Decision Tree  0.736519